<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{rows[0]?.id}}</th>
            <td>{{rows[0]?.item}}</td>
            <td>{{rows[0]?.qty}}</td>
            <td>{{rows[0]?.price}}</td>
            <td> <u (click)="onRowDelete(rows[0])">Delete</u> </td>
        </tr>
        <tr>
            <th scope="row">{{rows[1]?.id}}</th>
            <td>{{rows[1]?.item}}</td>
            <td>{{rows[1]?.qty}}</td>
            <td>{{rows[1]?.price}}</td>
            <td> <u (click)="onRowDelete(rows[1])">Delete</u> </td>
        </tr>
        <tr>
            <th scope="row">{{rows[2]?.id}}</th>
            <td>{{rows[2]?.item}}</td>
            <td>{{rows[2]?.qty}}</td>
            <td>{{rows[2]?.price}}</td>
            <td> <u (click)="onRowDelete(rows[2])">Delete</u> </td>
        </tr>
        <tr>
            <th scope="row">{{rows[3]?.id}}</th>
            <td>{{rows[3]?.item}}</td>
            <td>{{rows[3]?.qty}}</td>
            <td>{{rows[3]?.price}}</td>
            <td> <u (click)="onRowDelete(rows[3])">Delete</u> </td>
        </tr>
    </tbody>
</table>