<div class="container">
  <div class="row" #brd>
    <div class="col-md-12">
      <input type="text" #calcStr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" disabled #result>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" value="=" class="btn btn-large btn-info" (click)="calculate()">
      <input type="button" value="C" class="btn btn-large btn-info" (click)="cls()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-math-ops>
        <p class="alert alert-info" #alt> codekul </p>
      </app-math-ops>
    </div>
  </div>
</div>