<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">404 Page Not Found</h1>
        <p class="lead">
            The required resource is not available
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <input type="button" value="Chat" class="btn btn-outline-primary" (click)="toChat()">
        <a [routerLink]="['chat','slkdkfjsdlfjlsdjf']" class="btn btn-outline-info ml-3"> Chat Two </a>
        <a [routerLink]="['dash']" [queryParams]="{'ttl' : 'kjsdfhskdjfh'}" class="btn btn-outline-info ml-3"> Dashboard </a>
    </div>
</div>